*.axf
*.bin
*.crf
*.d
*.dep
*.elf
*.hex
*.htm
*.i
*.iex
*.lnp
*.lst
*.map
*.o
*.obj
*.sct.bak
*.uvguix.*
*.uvoptx
*.tmp
*.bak
*.log
*.tlog
*.lastbuildstate
*.browse
*.opt
*.plg

Listings/
Output/
Objects/
STM32/Listings/
STM32/Output/
Project/DebugConfig/
Project/RTE/_build/

.vscode/
.DS_Store
Thumbs.db
*.swp
*~
